<a href="https://colab.research.google.com/github/Spp77/py-base/blob/main/py_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world!")

hello world!

In [ ]:
a = 10
b = 10.5
c = "python"
d = True
e = None
print (type(a), type(b), type(c), type(e))

<class 'int'> <class 'float'> <class 'str'> <class 'NoneType'>

In [ ]:
age = 17

if (age == 18 or age > 18):
  print("your a adult.")

elif age >=13:
  print("your a teenager.")

else:
  print("your a child.")

your a teenager.

In [ ]:
i = 1
while i <= 7:
    print("i =", i)
    i+= 1

i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7

In [ ]:
for  i in range(1,8):
    print("i=", i)

i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7

In [ ]:
print("*" * 10)

**********

In [ ]:
def area(a,b):
  return a * b

print(area(2,4))

8

In [ ]:
num = 7

if num % 2 == 0:
  print("even number")
else:
  print("odd number")

odd number

In [ ]:
for i in range(1, 7):
    if i == 5:
        print("lets goo")
    else:
        print("okk")
        print("Square of", i, "is", i * i)

okk
Square of 1 is 1
okk
Square of 2 is 4
okk
Square of 3 is 9
okk
Square of 4 is 16
okk
Square of 5 is 25
okk
Square of 6 is 36

In [1]:
numbers = input("Enter numbers separated by commas: ")
numbers = numbers.split(",")  # converts "2,3,4" â†’ ["2", "3", "4"]

for n in numbers:
    n = int(n.strip())  # Remove spaces and convert to int

    # Check if number is prime
    if n < 2:
        print(f"{n} is NOT a prime number.")
    else:
        is_prime = True
        for i in range(2, int(n**0.5) + 1):
            if n % i == 0:
                is_prime = False
                break

        if is_prime:
            print(f"{n} is a PRIME number. Square is {n * n}")
        else:
            print(f"{n} is NOT a prime number. Cube is {n ** 3}")

Enter numbers separated by commas: 2
2 is a PRIME number. Square is 4